 /* grid */

 body {
     margin: 0;
 }

 p {
     margin: 0;
 }

 .col {
     min-height: auto;
 }

 .container {
     max-width: 1200px;
 }

 .img-responsive {
     width: 100%;
     height: auto;
     display: block;
 }

 .docs-link {
     text-align: center;
 }

 .vertical-center {
     align-items: center;
 }

 /* font */

 body {
     font-family: freight-sans-pro, sans-serif;
 }

 .medium-font {
     font-weight: 500;
 }

 .bold-font {
     font-weight: 700;
 }

 .italic-font {
     font-family: freight-text-pro, serif;
     font-style: italic;
     font-size: 12px
 }

 h1 {
     font-size: 100px;
     color: #1A3561;
     text-align: center;
     margin-top: 100px;
     margin-bottom: 0px;
     line-height: .4;
 }

 .to-small {
     font-size: 50px;
 }

 h2 {
     font-size: 80px;
     color: #C4BDA3;
     text-align: center;
 }

 h3 {
     font-size: 40px;
     color: #1A3561;
 }

 h4 {
     font-size: 300px;
     color: #3C7EA1;
     text-align: center;
     line-height: .6;
     margin-top: 100px;
     margin-bottom: 0px;
 }

 /* images and captions */

 img {
     display: block;
     height: auto;
     max-width: 100%;
 }

 .fig-caption {
     font-family: freight-text-pro, serif;
     font-weight: 400;
     font-style: italic;
 }

 /* slideshow */

 img {
     width: 100%;
     height: auto;
     display: block;
 }

 .container {
     max-width: 1200px;
 }

 .slick-slide {
     margin: 0 5px;
 }

 .slick-list {
     margin: 0 -5px;
 }

 .embed-container {
     position: relative;
     padding-bottom: 50%;
     height: 0;
     overflow: hidden;
     max-width: 100%;
     height: auto;
 }

 .embed-container iframe, .embed-container object, .embed-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 .thick-hr-2021 {
     border: 5px solid #3C7EA1;
 }

 .thick-hr {
     border: 2px solid #1A3561;
 }

 .bayfog-hr {
     border: 1px solid #C3832B;
 }

 .beige-hr {
     border: 1px solid #C4BDA3;
 }

 hr {
     display: block;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     margin-left: auto;
     margin-right: auto;
     border-style: inset;
 }

 .horizontal-line {
     padding: 100px 0px 50px 0px
 }

 .under-line {
     padding: 0px 0px 50px 0px
 }

 .video-section {
     padding: 150px 15px 100px 15px
 }

 .carousel {
     padding: 100px 0px 0px 0px;
 }

 .text-photos {
     padding: 50px 0px 50px 0px;
 }

 .text-photos-decade {
     padding: 0px 0px 50px 0px;
 }

 .text-photos-bottom {
     padding: 50px 0px 200px 0px;
 }

 /* header and footer */

 .header-sather {
     overflow: hidden;
     background-color: #C3832B;
     margin: 0 0;
     padding: 20px 10px;
     color: #1A3561;
 }

 .header-blue {
     overflow: hidden;
     background-color: #EEEEEE;
     margin: 0 0;
     padding: 20px 10px;
     color: #1A3561;
 }

 .footer-blue {
     overflow: hidden;
     background-color: #EEEEEE;
     margin: 0 0;
     padding: 20px 10px;
     color: #1A3561;
 }

 .footer-sather {
     overflow: hidden;
     background-color: #C3832B;
     margin: 0 0;
     padding: 20px 10px;
     color: white;
 }

 .header-bayfog {
     overflow: hidden;
     background-color: #C4BDA3;
     margin: 0 0;
     padding: 20px 10px;
     color: #1A3561;
 }

 .footer-bayfog {
     overflow: hidden;
     background-color: #C4BDA3;
     margin: 0 0;
     padding: 20px 10px;
     color: white;
 }

 a {
     color: #1A3561;
 }

 #menu-icon {
     float: right;
 }

 #simple-menu {
     color: #1A3561;
 }

 #closeMenu {
     color: white;
 }

 .logo-header {
     width: 100px;
     margin: 0px 0px 0px 25px;
 }

 .logo-footer {
     display: block;
     width: 200px;
     margin: 15px 0px 0px 25px;
 }

 .copyright {
     padding: 20px 0px 0px 25px;
     font-size: 12px;
     color: #1A3561;
 }

 .about-us {
     padding: 20px 0px 30px 25px;
 }

 /* background graphic  */

 html {
     background: url(../images/tessellation/Tessellation-background-full-desktop-medalist_2.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }